/*--------------------*\
PLANO
\*--------------------*/

.plano {  
    position: relative; /*assim, a posição absoluta do plano--mais-popular usará esse primeiro elemento pau com pos rel*/
    padding: 10px;
    border: 1px solid #95a4a5;

    font-size: 1.4rem;
    /*font-size: 0.875rem; /*tamanho de fonte padrão do navegador é 16px. Para ñ colocar tamanho fixo, coloca 'rem' - equivalente ao tamanbo padrão do navegador - 0.875 equivale a 14 de 16*/
    }
  
  /*@media (min-width: 800px) { significa janela mínima. Quando essa regra for verdadeira, ou seja, estiver em um dispositivo com tela menor (a partor de 800px nesse caso), o estilo será aplicado
    article {
      width: 30%;
    float: left; coloca os planos/caixas para flutuar a esquerda
    margin-right: 5%; para ficar um espaço entre os planos 
    
    pode usar mais de um media queries
  }*/

  .plano--mais-popular::after {
    position: absolute;
    top: -10px; /*valor negativo para sair um pouco do plano*/
    left: -10px;
  
    padding: 0 10px;
  
    background-color: #c20303;
    color: #fff;
  
    font-size: 0.7142em; /* 10px */
    line-height: 2.5;
  
    content: "MAIS POPULAR";
  }
  
  .plano__cabecalho { /*título do plano*/
    margin: -10px; /*para colar o fundo com a borda, pois tem o padding*/
    margin-bottom: 0;
    
    background-color: #95a4a5;
    color: #fff;

    text-align: center;
    line-height: 2.5; 
    font-weight: normal;
    font-size: 2em; /*Fica o dobro do tamanho do elemento pai - plano -*/
  }
  
  .plano__preco { /*preço*/
    margin: 20px 0; /*margem superior e inferior de 20px e esquerda e direito 0*/
    
    text-align: center;
    font-size: 2em;
    
  }
  
  .plano__caracteristicas { /*lista*/
    padding: 0;
    margin: 20px 0;

    font-size: 1em;

    list-style: none; /*tira o estilo, as bolinhas*/    
  }
  
  .plano__caracteristicas > li { /*itens*/
    text-align: center;
  }
  
  .plano__rodape { /*rodapé do plano*/
    text-align: center;
  }
  

  /*--------------------*\
    BOTÃO
  \*--------------------*/
  .botao {
    display: inline-block;
    padding: 0.8em 1.2em;

    background-color: #bbb;
    color: #fff;

    line-height: normal;
    font-size: 1em;
    text-decoration: none; /*tira o sublinhado*/
  }
  
  .botao:hover, .botao:focus { /*estiliza quando passa o mouse ou quando foca (com tecla tab por exemplo*/
    background-color: #aaa;
    color: #fff;
    
    text-decoration: none;
    
  }

  .botao--assinar, .botao--login {
    background-color: #127d00;
  }
  
  .botao--assinar:hover, .botao--assinar:focus {
    background-color: #0e6400;
  }

  .botao--principal {
    border-radius: 10px;
  
    background-color: #004b86;
  }
  
  .botao--principal:hover, .botao--principal:focus {
    background-color: #003b6a;
  }

  /*--------------------*\
  CHAMADA
  \*--------------------*/
.chamada {
  font-size: 1.6rem; /* 1.6 * 10px = 16px */
  text-align: center;
}

.chamada__titulo {
  margin: 0;

  color: #fff;

  font-size: 3.375em; /* 54px / 16px = 3.375 */
  line-height: 0.9;
  text-shadow: 1px 1px #313131; /*aplica sombras na fonte - eixo x e y*/
}

.chamada__subtitulo {
  margin: 60px 0;

  color: #fff;

  font-size: 1em;
}

.chamada__acao {
  font-size: 1em;
}

@media(min-width: 992px) { /*a partir de do tamanho médio -992px - aplicará as seguintes regras:*/
  .chamada {
    padding-left: 10%;
    padding-right: 10%;

    font-size: 2.2rem; /* 2.2 * 10px = 22px */
  }
}

/*--------------------*\
  DEPOIMENTO
\*--------------------*/
.depoimento {
 
  font-size: 2.2rem; /* 22px */
}

@media(min-width: 992px) {
  .depoimento {
    padding-left: 15%;
    padding-right: 15%;

    font-size: 2.8rem;
  }
}

.depoimento > blockquote {
  position: relative;

  margin: 0;
  padding: 0 60px;

  text-align: center;
  font-size: 1em;
}

.depoimento > blockquote::before {
  position: absolute;
  left: 0;
  top: -0.35em;

  color: #ccc;

  font-size: 8em; /* 176px */

  content: "\201C"; /*unicode*/
}

.depoimento__autor {
  margin-top: 40px;

  text-align: center;
  font-size: 0.7272em; /*16px*/
}

.depoimento__autor > img {
  border-radius: 50%; /*arredondar a foto*/
}

.depoimento__autor > p {
  margin-top: 10px; /*espaço entre o nome e a foto*/
}


/*--------------------*\
  NAVEGACAO
\*--------------------*/
.navegacao {
}

.navegacao__menu {
  float: right;
}


/*--------------------*\
  BOTAO-CHAVEADOR
\*--------------------*/
.botao-chaveador {
  width: 24px;
  height: 24px;
  border: 0;

  background: none; /*tira o fundo da imagem*/
  background-image: url("../image/bars.png");

  outline: none;
}

@media(min-width: 992px) { 
  .botao-chaveador {
    display: none; /*menu não exibe na tela maior*/
  }
}

/*--------------------*\
  MENU
\*--------------------*/
.menu {
  margin: 0;

  font-size: 1.4rem;

  list-style: none;
}

@media(max-width: 991px) {

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    display: none;
    width: 200px;
    padding: 20px;
    border-right: 1px solid #eee;

    background-color: #fbfbfb;
  }

  .menu--exibindo { /*classe de estado*/
    display: block;
  }

  .menu__item {
    display: block;

    line-height: 3;
  }

  .menu__item--botao {
    margin-top: 20px;
  }

}

@media(min-width: 992px) {

  .menu__item {
    display: inline-block;
    padding-right: 20px;
  }

  .menu__item:last-of-type { /*último item*/
    padding-right: 0px;
  }

}

/*--------------------*\
  TITULO-FORMULARIO
\*--------------------*/
.titulo-formulario {
  margin: 0;
  margin-bottom: 40px;
  
  border-bottom: 1px solid #ccc;

  font-size: 2.6rem;
  font-weight: normal;
  color: #004b86;
}



/*--------------------*\
  GRUPO-ENTRADA
\*--------------------*/
.grupo-entrada {
  margin-bottom: 15px;
}

.grupo-entrada > label {
  display: block;

  font-weight: bold;
}



/*--------------------*\
  CAMPO
\*--------------------*/
.campo {
  display: block;
  width: 100%; /*para a caixinha ocupar a tela toda*/
  height: 2.8em;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

  background-color: #fff;

  font-size: 1.4rem;
}
}