/*header {*/ 
    .layout-cabecalho { /*é melhor colocar com classe css - bloco - no lugar da tag.*/
    height: 60px; /*distancia inferior da imagem até a borda*/
    line-height: 60px;
    border-bottom: 1px solid #ccc; /*borda inferior*/

    background-color: #fff;
  }

  .layout-cabecalho--home {
    position: fixed; /*para o cabeçalho ficar fixo mesmo rolando a tela*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; /*para o cabeçalho ficar por cima dos elementos conforme for rolando a tela (prioridade)*/
  }
  
 /* .layout-cabecalho img {
    margin-top: 12px; /*margem superior, ou seja, distancia do cabecalho para início da pagina
  }*/
  
/*.container {
  width: 100%; assim, fica compatível com qualquer dispositivo
  padding-left: 15px; espaçamento esquerdo
  padding-right: 15px; espaçamento direito
  margin: 0 auto; centraliza o container

  o bootstrap já tem a classe de container.
}*/

/*#planos { -> Com o BEM não é recomendado usar o seletor pelo id*/
    .layout-planos{
    padding: 80px 0;
  }
  
 /*com o sistema de strap não precisa mais disso
  #planos::after { pseudo-elemento depois
    content: "";
    display: block;
    clear:both;
  }*/

  .layout-chamada {
    padding: 80px 0;
    margin-top: 60px;
  
    background-color: #7ab55c;
  }

  .layout-depoimento {
    padding: 80px 0;
    background-color: #e7e7e7;
  }

  .layout-rodape {
    padding: 40px 0;
  
    background-color: #484848;
  
    color: #fff;
    text-align: center;
  }

  @media(max-width: 749px) {
    .layout-planos .row > div:not(.ultima-coluna) { /*para os planos não ficarem colados um no outro quando diminuir a tela*/
      margin-bottom: 40px;
      /*div:not -> não aplicar a regra no div ultima-coluna (para não aumentar o espaço até o rodapé*/
    }
  }